name: Jira Integration

on:
  push:
    branches:
      - '*'   # triggers on all branches
  workflow_dispatch:
    inputs:
      JIRA_ISSUE:
        description: 'Jira Ticket ID (e.g., KAN-1)'
        required: false
        default: 'KAN-1'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get commit message
        id: getmsg
        run: |
          echo "msg=$(git log -1 --pretty=%B)" >> $GITHUB_OUTPUT

      - name: Extract Jira Issue
        id: extract
        run: |
          commit="${{ steps.getmsg.outputs.msg }}"
          echo "Commit = $commit"
          jira=$(echo "$commit" | grep -oE 'KAN-[0-9]+')
          if [ -z "$jira" ]; then
            echo "⚠️ Jira issue missing! Skipping Jira steps."
            echo "jira=" >> $GITHUB_OUTPUT
          else
            echo "jira=$jira" >> $GITHUB_OUTPUT

      - name: Move to In Progress
        if: steps.extract.outputs.jira != ''
        run: |
          curl -v -X POST \
            -H "Authorization: Basic $(echo -n "${{ secrets.JIRA_EMAIL }}:${{ secrets.JIRA_TOKEN }}" | base64)" \
            -H "Content-Type: application/json" \
            -d '{"transition":{"id":"11"}}' \
            "${{ secrets.JIRA_URL }}/rest/api/3/issue/${{ steps.extract.outputs.jira }}/transitions"

      - name: Build
        run: echo "Building..."

      - name: Tests
        run: echo "Running tests..."

      - name: Jira Comment
        if: steps.extract.outputs.jira != ''
        run: |
          curl -v -X POST \
            -H "Authorization: Basic $(echo -n "${{ secrets.JIRA_EMAIL }}:${{ secrets.JIRA_TOKEN }}" | base64)" \
            -H "Content-Type: application/json" \
            -d "{\"body\": \"Build Success on GitHub Actions\"}" \
            "${{ secrets.JIRA_URL }}/rest/api/3/issue/${{ steps.extract.outputs.jira }}/comment"

      - name: Move Issue to Done
        if: steps.extract.outputs.jira != ''
        run: |
          curl -v -X POST \
            -H "Authorization: Basic $(echo -n "${{ secrets.JIRA_EMAIL }}:${{ secrets.JIRA_TOKEN }}" | base64)" \
            -H "Content-Type: application/json" \
            -d '{"transition":{"id":"31"}}' \
            "${{ secrets.JIRA_URL }}/rest/api/3/issue/${{ steps.extract.outputs.jira }}/transitions"
